/*-- 2.15 Invoice --*/
.invoice-container {
  margin-top: -40px;
  background-color: #fff;
  padding: 0px 2px;
}
.invoice-info {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.invoice-info label {
  display: inline-block;
  width: 8em;
}
.invoice-address label {
  font-size: 8px;
  font-weight: 500;
}
.invoice-title label {
  font-size: 11px;
  font-weight: 500;
}
.invoice-cal td span {
  display: block;
  text-align: right;
}
.amount-due {
  font-size: 18px !important;
  padding: 10px 0;
}
.invoice-type {
  width: 100px;
}
.invoice-qty {
  width: 50px;
  text-align: center !important;
}
.invoice-amount,
.invoice-unit {
  text-align: right !important;
  width: 100px;
}
@media print {
  .invoice-page .page-content {
    margin-left: 0px !important;
  }
  .invoice-page .top-bar,
  .invoice-page .left-aside,
  .invoice-page .right-aside {
    display: none !important;
  }
}
